.hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  cursor: pointer;
  transition: all 0.3s ease-out; }
  .hamburger .hamburger-line {
    height: 2px;
    width: 24px;
    background: #e9cab4;
    border-radius: 2px;
    transition: all 0.3s ease-out; }
    .hamburger .hamburger-line:nth-child(1) {
      margin-bottom: 5px; }
    .hamburger .hamburger-line:nth-child(2) {
      margin-bottom: 5px; }
  .hamburger.show-menu {
    transform: rotate(180deg); }
    .hamburger.show-menu .hamburger-line:nth-child(1) {
      transform: rotate(45deg);
      height: 2px;
      background: #464f69; }
    .hamburger.show-menu .hamburger-line:nth-child(3) {
      transform: translateY(-7px) rotate(-45deg);
      height: 2px;
      background: #464f69; }
    .hamburger.show-menu .hamburger-line:nth-child(2) {
      display: none; }

.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 56px;
  width: 100%;
  z-index: 2;
  background: white;
  box-shadow: 0px -1px 3px 2px #1e1e1e;
  transition: all 0.3s ease-out; }
  .nav-bar.expand {
    height: 100vh;
    width: 100%;
    background: #e9cab4; }

.header-text {
  margin: 13px;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  font-weight: 400;
  color: #464f69;
  text-align: center; }
  .header-text.hide-header-text {
    display: none; }

.nav-spacer {
  width: 100%;
  height: 20vh; }

.menu {
  visibility: hidden; }
  .menu.show-menu {
    visibility: visible; }
  .menu-nav {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    font-family: "Roboto", serif;
    font-size: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; }

.nav-link {
  color: #fff; }

.tournament-li {
  margin: 0;
  padding: 0;
  color: #fff; }

.tournaments-nav-container {
  height: 0;
  width: 100%;
  background: #464f69;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }
  .tournaments-nav-container.show-tournaments {
    height: 140px; }

.tournaments-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
  line-height: 1.3; }

.tournament-nav-link {
  color: #838dac;
  display: block;
  width: 100%; }

.tournaments-nav-item {
  width: 100vw; }

.home-page-tournament-container {
  width: 100%;
  height: 200px; }

.home-page-tournament-container2 {
  width: 100%;
  height: 200px;
  background: #233354; }

.home-page-tournament-container3 {
  width: 100%;
  height: 200px;
  background: #191b3c; }

.home-page-tournament-container4 {
  width: 100%;
  height: 200px;
  background: #003865; }

.home-page-tournament-branding {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100%; }

.home-page-tournament-leaderboard {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 50%;
  height: 100%;
  font-family: "Roboto", sans-serif; }
  .home-page-tournament-leaderboard .grid {
    text-decoration: none;
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background: white;
    text-align: center;
    grid-gap: 1px;
    background: #e7e7e7; }
    .home-page-tournament-leaderboard .grid :nth-child(6n + 1) {
      background: #fff; }
    .home-page-tournament-leaderboard .grid :nth-child(6n + 2) {
      background: #fff; }
    .home-page-tournament-leaderboard .grid :nth-child(6n + 3) {
      background: #fff; }
    .home-page-tournament-leaderboard .grid :nth-child(6n + 4) {
      background: #eee; }
    .home-page-tournament-leaderboard .grid :nth-child(6n + 5) {
      background: #eee; }
    .home-page-tournament-leaderboard .grid :nth-child(6n + 6) {
      background: #eee; }
    .home-page-tournament-leaderboard .grid .position {
      display: flex;
      align-items: center;
      justify-content: center; }
    .home-page-tournament-leaderboard .grid .player {
      display: flex;
      align-items: center;
      text-align: left;
      padding-left: 3px; }
    .home-page-tournament-leaderboard .grid .score {
      display: flex;
      align-items: center;
      justify-content: center; }

a {
  color: #1e1e1e; }

.tournament-header-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: pink;
  width: 100%;
  height: 80px;
  overflow: hidden; }
  .tournament-header-container img {
    filter: grayscale(100%);
    top: 20px;
    left: 100px; }

.leaderboard-header-container {
  position: sticky;
  top: 56px;
  width: 100%;
  height: 30px;
  background: white;
  color: white;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 60px auto 60px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase; }
  .leaderboard-header-container .position {
    background: #464f69;
    display: flex;
    align-items: center;
    justify-content: center; }
  .leaderboard-header-container .name {
    background: #464f69;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5px; }
  .leaderboard-header-container .score {
    background: #464f69;
    display: flex;
    align-items: center;
    justify-content: center; }

.player-container {
  width: 100%;
  height: 30px;
  background: grey;
  color: #1e1e1e;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 60px auto 60px;
  border-top: 1px solid grey;
  font-family: "Roboto", sans-serif;
  font-weight: 500; }
  .player-container .position {
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center; }
  .player-container .name {
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5px; }
  .player-container .score {
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center; }

.team-container {
  width: 100%;
  height: auto;
  background: #e9cab4;
  padding: 10px;
  display: block;
  font-size: 0.9rem;
  display: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500; }
  .team-container .golfer-container:nth-child(odd) {
    background: gainsboro; }
    .team-container .golfer-container:nth-child(odd) div {
      background: #e6e6e6; }
  .team-container.show {
    display: block; }
  .team-container .team-header-container {
    width: 100%;
    height: auto;
    background: gainsboro;
    color: white;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: auto 30px 30px 30px 30px 30px;
    border-bottom: 1px solid gainsboro;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .team-container .team-header-container div {
      background: #464f69; }
    .team-container .team-header-container .name {
      border-top-left-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .team-container .team-header-container .hole {
      border-top-right-radius: 3px; }
  .team-container .golfer-container {
    width: 100%;
    height: auto;
    background: gainsboro;
    color: #1e1e1e;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: auto 30px 30px 30px 30px 30px; }
  .team-container .team-sum-container {
    width: 100%;
    height: auto;
    background: gainsboro;
    color: white;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: auto 30px 30px 30px 30px 30px;
    border-top: 1px solid gainsboro;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
    .team-container .team-sum-container div {
      background: #464f69; }
    .team-container .team-sum-container .name {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: 3px; }
    .team-container .team-sum-container .hole {
      border-bottom-right-radius: 3px; }
  .team-container .name {
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px 0px 5px 10px; }
  .team-container .round1,
  .team-container .round2,
  .team-container .round3,
  .team-container .round4,
  .team-container .hole {
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center; }

* {
  box-sizing: border-box; }

body {
  margin: 56px 0 0 0; }

a {
  text-decoration: none; }

.noSelect {
  -webkit-tap-highlight-color: transparent; }
