.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 56px;
  width: 100%;
  z-index: 2;
  background: rgb(255, 255, 255);
  box-shadow: 0px -1px 3px 2px rgb(30, 30, 30);
  @include easeOut;

  &.expand {
    height: 100vh;
    width: 100%;
    background: $secondary-color;
  }
}

.header-text {
  margin: 13px;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  font-weight: 400;
  color: $primary-color;
  text-align: center;

  &.hide-header-text {
    display: none;
  }
}

.nav-spacer {
  width: 100%;
  height: 20vh;
}

.menu {
  visibility: hidden;

  &.show-menu {
    visibility: visible;
  }

  &-nav {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    font-family: $primary-font;
    font-size: 2rem;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}

.nav-link {
  color: #fff;
}

.tournament-li {
  margin: 0;
  padding: 0;
  color: #fff;
}

.tournaments-nav-container {
  height: 0;
  width: 100%;
  background: $secondary-color;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  &.show-tournaments {
    height: 140px;
  }
}

.tournaments-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
  line-height: 1.3;
}

.tournament-nav-link {
  color: $primary-color;
  display: block;
  width: 100%;
}

.tournaments-nav-item {
  width: 100vw;
}
