@import "config";
@import "hamburger";
@import "navbar";
@import "homePageTournaments";
@import "tournaments";
@import "rulesAndAbout";

* {
  box-sizing: border-box;
}

body {
  margin: 56px 0 0 0;
  background: $primary-color;
}

a {
  text-decoration: none;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
}
