@mixin easeOut {
  transition: all 0.3s ease-out;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 56px;
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: 0px -1px 3px 2px rgb(185, 185, 185);
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  cursor: pointer;
  @include easeOut;

  .hamburger-line {
    height: 2px;
    width: 24px;
    background: #e9cab4;
    border-radius: 2px;
    @include easeOut;

    &:nth-child(1) {
      margin-bottom: 5px;
    }
    &:nth-child(2) {
      margin-bottom: 5px;
    }
  }

  //when menu is opened, rotate lines into an X, denoting a close button
  &.show-menu {
    transform: rotate(180deg);

    .hamburger-line {
      //line 1 will rotate
      &:nth-child(1) {
        transform: rotate(45deg);
        height: 2px;
        background: #464f69;
      }
      //line 3 will rotate opposite
      &:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
        height: 2px;
        background: #464f69;
      }
      //line 2 will hide
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.header-text {
  margin: 13px;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  color: #464f69;
  text-align: center;
}
